/* general styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e9ecee;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
    margin: 25px 0;
  }
  
  footer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 10px 10%;
    margin-top: 25px;
    min-height: 50px;
    background-color: #293240;
    color: white;
  }
  
  main {
    flex-grow: 1;
    margin: 0 10%;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  /* index.php */
  
  /* header */
  .logo img {
    width: 120px;
  }
  
  /* navigation */
  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin: auto 10px;
    color: black;
  }
  
  nav .navlink:nth-last-child(1) {
    margin-right: 0;
  }
  
  button.navlink {
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    background-color: transparent;
  }
  
  button.navlink:hover{
    cursor: pointer;
  }
  
  .navlink img {
    width: 20px;
    padding: 3px;
  }  
  
  /* index.php */
  @media (max-width: 1024px) {
    header {
      flex-direction: column;
      justify-content: center;
    }
    nav {
      align-items: center;
    }
    div + span nav {
      justify-content: center;
      margin: 10px auto;
    }
    .navlink {
      margin: 5px 5px;
    }
  }

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: black;
    background-color: rgb(250, 228, 139);
    border-color: #ddd;
}
.pagination > li > a, 
.pagination > li > span { 
  color: black;}

  .pagination>li.active>a {
    border-color: #ddd;
    background-color: rgb(227, 184, 8) !important;
  }